In [1]:
import pandas as pd
import numpy as np
np.random.seed(2019)

from ml_metrics import rmsle
from sklearn.dummy import DummyRegressor

# Imported Data

In [3]:
train = pd.read_hdf('../data/diabetic_train.h5')
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33051 entries, 0 to 101765
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   encounter_id              33051 non-null  int32
 1   patient_nbr               33051 non-null  int32
 2   race                      33051 non-null  object
 3   gender                    33051 non-null  object
 4   age                       33051 non-null  object
 5   weight                    33051 non-null  object
 6   admission_type_id         33051 non-null  int8
 7   discharge_disposition_id  33051 non-null  int8
 8   admission_source_id       33051 non-null  int8
 9   time_in_hospital          33051 non-null  int8
 10  payer_code                33051 non-null  object
 11  medical_specialty         33051 non-null  object
 12  num_lab_procedures        33051 non-null  int16
 13  num_procedures            33051 non-null  int8
 14  num_medications           33051 non-null  int8
 15  number_outpatient         33051 non-null  int8
 16  number_emergency          33051 non-null  int8
 17  number_inpatient          33051 non-null  int8
 18  diag_1                    33051 non-null  object
 19  diag_2                    33051 non-null  object
 20  diag_3                    33051 non-null  object
 21  number_diagnoses          33051 non-null  int8
 22  max_glu_serum             33051 non-null  object
 23  A1Cresult                 33051 non-null  object
 24  metformin                 33051 non-null  int8
 25  repaglinide               33051 non-null  int8
 26  nateglinide               33051 non-null  int8
 27  chlorpropamide            33051 non-null  int8
 28  glimepiride               33051 non-null  int8
 29  acetohexamide             33051 non-null  int8
 30  glipizide                 33051 non-null  int8
 31  glyburide                 33051 non-null  int8
 32  tolbutamide               33051 non-null  int8
 33  pioglitazone              33051 non-null  int8
 34  rosiglitazone             33051 non-null  int8
 35  acarbose                  33051 non-null  int8
 36  miglitol                  33051 non-null  int8
 37  troglitazone              33051 non-null  int8
 38  tolazamide                33051 non-null  int8
 39  examide                   33051 non-null  int8
 40  citoglipton               33051 non-null  int8
 41  insulin                   33051 non-null  int8
 42  glyburide-metformin       33051 non-null  int8
 43  glipizide-metformin       33051 non-null  int8
 44  glimepiride-pioglitazone  33051 non-null  int8
 45  metformin-rosiglitazone   33051 non-null  int8
 46  metformin-pioglitazone    33051 non-null  int8
 47  change                    33051 non-null  bool
 48  diabetesMed               33051 non-null  bool
 49  readmitted                33051 non-null  int64
 50  id                        33051 non-null  int64
dtypes: bool(2), int16(1), int32(2), int64(2), int8(33), object(11)
memory usage: 4.9+ MB

# Basic model

In [4]:
feats = ['encounter_id']
X = train[feats].values
y = train['readmitted'].values

model = DummyRegressor(strategy='mean')
model.fit(X, y)
y_pred = model.predict(X)

rmsle(y, y_pred)

2.7376467792234136

# Submit

In [7]:
test = pd.read_hdf('../data/diabetic_test.h5')
X = test[feats].values

y_pred = model.predict(X)

# Submission

In [8]:
test['readmitted'] = y_pred
test[ ['id', 'readmitted'] ].to_csv('../output/xgb_clf.csv', index=False)

In [9]:
train.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,id
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,0,0,0,0,0,0,False,False,0,0
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,0,0,0,0,0,0,False,True,0,2
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,2,0,0,0,0,0,True,True,0,3
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,1,0,0,0,0,0,True,True,0,4
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,1,0,0,0,0,0,True,True,0,8